.Modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
}
.Modal_exit {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.75);
}
.Modal__box {
  width: 100%;
  max-width: 650px;
}
